.goods {
    margin-bottom: 50px;
    background-color: #fff;
}

.goods-name {
    font-size: 16px;
    color: #333;
}

.goods-more {
    font-size: 13px;
    color: #999;
}

.goods-title {
    display: flex;
    justify-content: space-between;
    padding: 12px 10px;
    border-bottom: 1px solid #eee;
}

.goods-lists {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #eee;
}

.goods-lists:last-child{
  margin-bottom: 60px;
}
.goods-infos{
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.lists-pics{
  width: 35%;
  height: 35%;
}


.info>h4{
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  line-height: 23px;
  margin:20px 20px 20px 0;
}

.mark1{
  border-left: 5px solid rgb(49, 100, 209);
  padding-left: 10px;
}

.prices{
  display: flex;
  justify-content: space-between;
  margin:30px 20px 20px 0;
}
.good-price{
  color: rgb(254, 138, 1);
}

.ex-price{
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 14px;
  color: #999;
}
.purchase-num{
  font-size: 13px;
  color: #999;
}




.goods {
    margin-bottom: 50px;
    background-color: #fff;
}

.goods-name {
    font-size: 16px;
    color: #333;
}

.goods-more {
    font-size: 13px;
    color: #999;
}

.goods-title {
    display: flex;
    justify-content: space-between;
    padding: 12px 10px;
    border-bottom: 1px solid #eee;
}

@media screen and (max-width:320px){
  .prices{
    margin-top: 20px;
  }
  .ex-price{
    margin-left: 0;
  }
  }
}
