.goods {
    margin-bottom: 50px;
    background-color: #fff;
}

.goods-name {
    font-size: 16px;
    color: #333;
}

.goods-more {
    font-size: 13px;
    color: #999;
}

.goods-title {
    display: flex;
    justify-content: space-between;
    padding: 12px 10px;
    border-bottom: 1px solid #eee;
}

.goods-lists {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #eee;
}

.goods-lists:last-child{
  margin-bottom: 60px;
}
.goods-infos{
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.lists-pics{
  width: 20%;
  height: 20%;
  margin: 10px;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.info>h4{
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  line-height: 23px;
}

.mark1{
  border-left: 3px solid rgb(49, 100, 209);
  padding-left: 10px;
  display: inline-block;
  height: 12px;
}

.prices{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.good-price{
  color: rgb(254, 138, 1);
}

.ex-price{
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 14px;
  color: #999;
}
.purchase-num{
  font-size: 13px;
  color: #999;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f89c0d;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}


@media screen and (max-width:320px){

  .lists-pics{
    width: 25%;
    height: 25%;
  }

  }
